In [1]:
# Decision Tree:
# 1) in this we first take I.G of target Feature.
#Information Gain: 
# formula:(-p/p+n)*log2(p/p+n)-n(n/p+n)*log2(n/p+n)
# 2) take Entropy of other features for particular colunms 
# this is calculated for the root node in decision tree
# i.e(entropy  = IG *P(number of item present/total number of items))
# 3) Find the Gain of the particular feature (i.e for that colunm)
# Gain = IG-E(A)

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('salary.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [14]:
df['degree'].value_counts()

masters      8
bachelors    8
Name: degree, dtype: int64

In [5]:
inputs = df.iloc[:,:-1]
target = df.iloc[:,-1]

In [15]:
df_Company = pd.get_dummies(df['company'],drop_first=True)
df_job = pd.get_dummies(df['job'],drop_first=True)
df_degree = pd.get_dummies(df['degree'],drop_first=True)

In [19]:
inputs = pd.concat([inputs,df_Company,df_degree,df_job],axis=1)

In [20]:
inputs.head()

,company,job,degree,facebook,google,masters,computer programmer,sales executive
0,google,sales executive,bachelors,0,1,0,0,1
1,google,sales executive,masters,0,1,1,0,1
2,google,business manager,bachelors,0,1,0,0,0
3,google,business manager,masters,0,1,1,0,0
4,google,computer programmer,bachelors,0,1,0,1,0

In [22]:
inputs = inputs.drop(['company','job','degree'],axis=1)

In [29]:
from sklearn import tree

In [30]:
t = tree.DecisionTreeClassifier()

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.25)

In [32]:
t.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
t_pred = t.predict(X_test)

In [34]:
from sklearn.metrics import classification_report,confusion_matrix

In [35]:
confusion_matrix(y_test,t_pred)

array([[0, 2],
       [1, 1]])

In [36]:
print(classification_report(y_test,t_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.33      0.50      0.40         2

   micro avg       0.25      0.25      0.25         4
   macro avg       0.17      0.25      0.20         4
weighted avg       0.17      0.25      0.20         4